<launch>
  
  <!-- Run the map server -->
  <arg name="map_file" default="$(find follow-path-points)/maps/empty.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find follow-path-points)/launch/amcl.launch"/>

  <!--- Run Move Base -->
  <include file="$(find follow-path-points)/launch/move_base.launch" />

  <!--- Run TF Listener -->
  <node pkg="follow-path-points" type="tf_listener.py" name="tf_listener" output="screen"/>

</launch>
